<div class="side-piece">
      <p class="title">Education</p>
      <p><span>2017-2021 </span>Computer Science, University of Rochester</p>
      <p class="title">Experience</p>
      <p><span>Jan 2022-Present </span>Scientific Data Engineer at Allen Institute for Cell Science</p>
      <p><span>June 2021-Aug 2021 </span>Research Intern at Noblis</p>
      <p><span>June 2020-Jan 2021 </span>SDE Intern at Amazon</p>
      <p><span>June 2019-Aug 2019 </span>SWE Intern at Northwestern Mutual</p>
      <p class="title">Interests & involvement</p>
      <p><span><a href="https://rewritingthecode.org/">Rewriting the Code </a></span>Fellow</p>
      <p><span><a href="https://www.recurse.com/">Recurse Center </a></span>(M1 '20) Alum</p>
      <p><span><a href="https://www.outforundergrad.org/">Out for Undergrad </a></span>(Tech '19) Alum</p>
    <p class="title">Contact</p>
      <div id="social-container">
        <a href="mailto:alexandra.ferrante@rochester.edu"><p>alexandra.ferrante at rochester.edu</p></a>
        <a href="https://www.linkedin.com/in/alexandra-ferrante/"><img class="icons" src="../assets/images/linkedin.svg"></a>
        <a href="https://github.com/alexferrante"><img class="icons" src="../assets/images/github.svg"></a>
      </div>
  </div>