.menuContainer{
  display: block;
  height: 60px;
  background-color: #467;
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,.12);
  text-align: center;
}
  
.menuContainer span{
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2em;
  line-height: 60px;
}

#slideMenu{
  position: relative;
  width: 40px;
  height: 45px;
  float: left;
  transition: .5s ease-in-out;
  cursor: pointer;
  & span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    padding: 0px;
  }
}

#slideMenu  span:nth-child(1) {
  top: 0px;
}
#slideMenu  span:nth-child(2),#slideMenu  span:nth-child(3){
  top: 10px;
}
#slideMenu span:nth-child(4){
  top: 20px;
}
#slideMenu.isopen span:nth-child(1){
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}
#slideMenu.isopen span:nth-child(2){
  transform: rotate(45deg);
}
#slideMenu.isopen span:nth-child(3){
  transform: rotate(-45deg);
}
#slideMenu.isopen span:nth-child(4){
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#linksContainer{
  position: absolute;
  height: calc(100vh - 60px);
  width: 210px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms;
  & ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
  }
  & li {
    padding: 30px 0 20px 20px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.14);}
  & li:last-child {
    border-bottom: none}
  }
.fa {
  color: black;
  padding-right: 8px;
}
li a {
  text-decoration: none;
  color: black;
}

#linksContainer.isopen{
  transform: none}

@media screen and (max-width: 420px){
  .menuContainer span{
    font-size: 1.2em}}