#menuWrapper {
  width: 7%;
  min-width: 7vw;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#menuWrapper:hover {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 40%;
}

#socialWrapper {
  width: 5%;
  min-width: 5vw;
  right: 0;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}


#socialWrapper:hover { 
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 30%;
}

.socialContainer {
  position: fixed;
  display: block;
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,.12); 
}

.menuContainer {
  display: block;
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,.12);
}
  
.slideMenu {
  position: relative;
  width: 20%;
  height: 100%;
  margin-top: 180px;
  float: right;
  transition: .5s ease-in-out;
  cursor: pointer;
  & span {
    position: absolute;
    height: 300px;
    width: 50%;
    border-radius: 8px;
    margin: 10px 0 0 0;
    opacity: 1;
    left: 1;
    transition: .25s ease-in-out;
    padding: 0px;
  }
}

#open {
  width: 1000px;
}

#linksContainer {
  position: absolute;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms;
  & ul {
    margin-top: 0px;
    padding: 0px;
    text-align: left;
  }
  & li {
    padding: 30px 0 20px 20px;
    font-size: 1.5em;
  }
}

li a {
  color: #fff;
}

#linksContainer.open {
  transform: none
}

@media screen and (max-width: 420px) {
  .menuContainer span {
    font-size: 1.2em;
  }
}

