header {
  background: $primary-accent;
  height: 7%;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  border-bottom: 2px solid $secondary-accent;
  padding: 1%;
  span {
    padding-left: 0.8em;
    width: 100%;
    font-family: $font-heading;
    font-size: 4rem;
    white-space: nowrap;
  }
}

.side-piece {
  width: 30%;
  height: 100%;
  padding: 1% 1%;
  float: right;
  p {
    color: $secondary-font-color;
    padding-bottom: 0.5em;
    padding: 10px;
  }
  span {
    font-weight: bolder;
  }

}

.title {
  margin-top: 5%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 31%;
  .card:last-child {
    border-left: none;
  }
}

$columns: 3;

.card {
  background-color: pink;
  border: 2px solid $secondary-accent;
  border-top: 0px;
}

@for $width from 1 through $columns {
  .card-#{$width} {
    flex-basis: $width / $columns * 100%;
  }  
}

.main-piece {
  width: 70%;
  height: 100%;
}

.post-container {
  width: 100%;
  margin-left: $header-alignment;
  margin-top: $header-alignment / 4;
  h3 {
    font-size: 1.5em;
    padding-top: $header-alignment / 4;
  }
  div {
    margin: 7% 10% 10% 0;
  }
}

.posts-container {
  margin: $header-alignment 0 $header-alignment 0;
  margin-left: $header-alignment;

  li {
    padding-bottom: 7%;
  }

}
