@function random_idx($elements) {
    @return random(length($elements))
}
$white: #fff;

$light-grey: #fafafa;
$royal-blue: #1c60f2;
$black-soft: #444;
$black: #09090e;
$pink: #fff0f5;
$yellow: #fffacd;

$possible-main-background-colors: ($light-grey, $black);
$possible-primary-accent-colors: ($light-grey);
$possible-secondary-font-colors: ($black);
$possible-secondary-accent-colors: ($black-soft, $black-soft);

$idx: random_idx($possible-main-background-colors);

$main-background: nth($possible-main-background-colors, $idx);
$primary-accent: $light-grey; // nth($possible-primary-accent-colors, $idx);
$secondary-accent: nth($possible-secondary-accent-colors, $idx);
$secondary-font-color: $black; // nth($possible-secondary-font-colors, $idx);

$header-alignment: 2.8em;
