$white: #fff;

$light-grey: #fafafa;
$royal-blue: #1c60f2;

$black-soft: #444;
$black: #09090e;
$pink: #fff0f5;
$yellow: #fffacd;



//? override for project clarity

$color-primary: $royal-blue;
$color-secondary: $pink;
$color-tertiary: $yellow;