<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      <div class="wrapper">
        <div class="nav">
          <span><a href="/posts"><<</a></span>
        </div>
      </div>
  </header>
  {% if content.size > 4000 %}
  <div>TODO: Placeholder for progress tracker</div>
  {% endif %}
    <div class="post-container">
      <h2>{{ page.title }}</h2>
      <h3 datetime="{{ post.date | date: '%F' }}">{{ page.date | date: "%b %-d, %Y" }}</h3>
      <div class="content-container">
        {{ content }}
      </div>
    </div>
  </body>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</html>