<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
  <body>
    <header>
      <div class="wrapper">
        <div class="nav">
          <span><a href="/">Alex Ferrante</a><a href="/projects">/Projects</a></span>
        </div>
      </div>
  </header>
    <div>
        <div class="project-container">
            <div class="card card-1">
            </div>
            <div class="card card-2">
            </div>
          </div>
          <div class="project-container">
            <div class="card card-2">
            </div>
            <div class="card card-1">
            </div>
          </div>
          <div class="project-container">
            <div class="card card-1" style="border-right: none"}>
            </div>
            <div class="card card-1">
            </div>
            <div class="card card-1">
            </div>
          </div>
    </div>
  </body>
</html>